.list {
    list-style: none;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: -4px;
}

.item {
    background: var(--light-grey, #f3f3f3);
    border-radius: 12px;
    padding: 12px 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.time {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-color);
    margin-left: 4px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.subject {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-color);
}

.teacher {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin-top: -20;
}

.lessonContainer {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.lessonNumber {
    font-size: 20px;
    color: #a3a3a3;
    font-weight: 500;
    min-width: 32px;

    text-align: center;
    padding-top: 14px;
}
