.root {
    min-height: 100vh;
    background: var(--background);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    z-index: 200;
    background: var(--background);
}

.content {
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--light-grey);
    margin-left: 260px;
    overflow: auto;
}

.pageHeader {
    user-select: none;
    gap: 24px;
    position: sticky;
    top: 0;
    z-index: 150;
    display: flex;
    width: 100%;
    height: 64px;
    padding: 12px 24px 12px 24px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--alt-light-grey);
    background: var(--background);
}

.calendarInput {
    display: flex;
    min-width: 120px;
    width: 120px;
    height: 36px;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--alt-light-grey);
    background: var(--background);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);

    &:focus {
        box-shadow: 0 0 0 1px #0095ff80;
        outline: none;
    }
}

.title {
    color: var(--foreground);

    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.teacherSelect {
    display: flex;
    width: 200px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
}

.contentWrapper {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: padding-right 0.3s ease;
    height: 100%;
    &.withLesson {
        padding-right: 372px;
    }
}

.lessonOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 372px;
    height: 100vh;
    background: #fff;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
    z-index: 180;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
}
