:root {
    // Colors
    --primary-color: #0066fe;
    --secondary-color: #0052cb;
    --dark-color: #151411;
    --light-color: #fff;
    --gray-color: #d9d9d9;
    --light-grey: #f3f3f3;
    --alt-light-grey: #e5e5e5;
    --grey: #737373;
    --dark-grey: #404040;
    --alert-color: #ff6969;
    --background: #ffffff;
    --foreground: #171717;

    // Backgrounds
    --background-paper: #ffffff;
    --background-secondary: #f3f3f3;
    --background-hover: #e8e8e8;
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    // Shadows
    --shadow-sm: 0px 2px 8px rgba(0, 0, 0, 0.1);

    // Border radiuses
    --border-radius-lg: 12px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #171717;
    }
}

// Layout
$desktop-padding: 30px;
$mobile-padding: 20px;
