.wrapper {
  border: 1px solid var(--alt-light-grey);
  border-radius: 10px;
  width: 208px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.grades {
  width: 75px;
}

.attendance {
  width: 125px;
}
