.carousel {
    user-select: none;
    opacity: 0;
    transform: translateY(24px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    background: var(--background-paper);
    border-radius: 12px;
    padding-left: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &.ready {
        opacity: 1;
        transform: translateY(0);
    }
}

.viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    gap: 24px;
    height: 100%;
}

.slide {
    flex: 1;
    min-width: 300px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dayHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 32px;
}

.dayTitle {
    color: var(--grey);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}

.dayDate {
    user-select: none;
    font-size: 14px;
    color: var(--dark-grey);
}
