@use "@/shared/styles/theme/mixins" as mix;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transform: translateY(24px);
    @include mix.transition-transform;
    &.ready {
        opacity: 1;
        transform: translateY(0);
    }
}

.carouselContainer {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 8px;
    padding: 32px 0 0 16px;
}
