.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 8px 0px #0000000d;

    &.outlined {
        padding: 1px;
        gap: 4px;
        border: 1px solid var(--alt-light-grey);
        border-radius: 10px;
    }

    &.flat {
        gap: 8px;
    }
}
