@use "@/shared/styles/theme/mixins" as mix;

.calendar {
    padding: 10px 16px 16px 16px;
    background: var(--background-paper);
    opacity: 0;
    border-bottom: 1px solid var(--alt-light-grey);
    transform: translateY(24px);
    @include mix.transition-transform;
    clip-path: inset(0 16px 0 16px);
}

.calendarReady {
    opacity: 1;
    transform: translateY(0);
}

.month {
    font-size: 20px;
    font-weight: 500;
    padding-left: 1px;
    user-select: none;
    margin-bottom: 12px;
}

.carouselWrapper {
    overflow: hidden;
}

.carouselContainer {
    display: flex;
    gap: 8px;
    margin-right: -10;
}
.carouselWrapper {
    overflow: hidden;
}
